@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-clipping {
    @apply relative;
}

.header-clipping .container {
    @apply relative; 
    z-index: 3;
}

.header-clipping .sunshine {
    @apply absolute top-0;
    left: 50%;
    transform: translateX(-50%);
    width: 515px;
    height: 90%;
    clip-path: polygon(36% 0, 65% 0, 47% 100%, 0% 100%);
    background: transparent linear-gradient(146.62deg, #3D47BD 17.72%, #2E37A4 56.8%);;
    opacity: 0.8;
}

.header-clipping::before {
    @apply w-full bg-indigo-900 inset-0 absolute;
    content: "";
    height: 648px;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}